Cargo Holds Options/.vscode
Cargo Holds Options/Source/CargoHoldsPlacementOptions/CargoHoldsPlacementOptions.cs.bkp
Cargo Holds Options/Source/CargoHoldsPlacementOptions/obj
Source/CargoHoldsPlacementOptions/obj
.vscode
Source/CargoHoldsPlacementOptions/CargoHoldsPlacementOptions.cs.bkp
